.hero {
  width: 100%;
  background-color: var(--bg-second, #000080);
}

.hero__swiper .hero__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
}

.hero__item {
  color: var(--color-second, #ffffff);
}

.hero__list .hero__item {
  display: grid;
  grid-template-columns: 15px 55px min-content 55px 15px;
  grid-template-rows: 40px 104px 1fr 45px auto 126px 36px;
}

.hero__info {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

.hero__info h2 {
  font-size: 26px;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.hero__info p {
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  margin: 15px 0;
}

.hero__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  padding: 19px 18px;
  background-color: var(--bg-second, #000080);
  color: inherit;
  border: 1px solid var(--bg-second, #000080);
  box-sizing: border-box;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: var(--bg-base, #ffffff);
    border: 1px solid var(--bg-active, #000080);
    color: var(--bg-active, #000080);
  }

  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--bg-base, #ffffff);
    border: 1px solid var(--bg-active, #000080);
    color: var(--bg-active, #000080);
  }

  &:active:not(:disabled) {
    background-color: var(--bg-active, #000080);
    color: inherit;
  }

  &:disabled {
    background-color: #999999;
    color: inherit;
    cursor: default;
  }
}

.hero__picture {
  line-height: 0;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hero picture {
  line-height: 0;
}

.hero .hero__bullets {
  position: absolute;
  top: 612px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 20px;
  z-index: 11;
}

.hero__bullet {
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-second, #ffffff);
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;

  &:hover:not(:disabled):not(.hero__bullet--active) {
    background-color: #d9d9d9;
  }

  &:active:not(:disabled) {
    background-color: var(--bg-active, #000080);
    color: inherit;
  }

  &:disabled {
    background-color: #999999;
    color: inherit;
    cursor: default;
  }
}

.hero__bullet:focus:not(:disabled):not(.hero__bullet--active),
.hero__bullet:focus-visible:not(:disabled):not(.hero__bullet--active) {
    border: 1px solid rgba(255, 255, 255, 0.5);

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 1px solid var(--color-second, #ffffff);
    }
  }

.hero__bullet--active {
  background-color: var(--bg-base, #ffffff);
  cursor: default;
}

@media (max-width: 767px) {
  .hero__swiper .hero__list {
    height: 568px;
  }
}

@media (min-width: 768px) {
  .hero__swiper .hero__list {
    width: 768px;
    margin: 0 auto;
  }

  .hero__list .hero__item {
    grid-template-columns: 45px 249px min-content 249px 45px;
    grid-template-rows: 85px 257px auto 16px auto 307px 85px;
  }

  .hero__info h2 {
    font-size: 56px;
    grid-row: 2 / 3;
  }

  .hero__info p {
    font-size: 17px;
    line-height: 1.41;
    grid-row: 3 / 4;
    margin-right: 89px;
    margin-left: 89px;
  }

  .hero__button {
    grid-row: 5 / 6;
  }

  .hero .hero__bullets {
    top: 1060px;
  }

  .hero__bullet {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1439px) {
  .hero__details {
    display: none;
  }
}

@media (min-width: 1440px) {
  .hero__swiper .hero__list {
    width: 1440px;
  }

  .hero__list .hero__item {
    grid-template-columns: 120px 780px 420px 120px;
    grid-template-rows: 200px auto auto 10px auto 134px auto 80px;
  }

  .hero__info {
    width: 944px;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
  }

  .hero__info h2 {
    font-size: 77px;
    text-align: left;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin-bottom: 0;
  }

  .hero__info p {
    text-align: left;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin: 23px 472px 29px 0;
  }

  .hero__button {
    width: 180px;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .hero__details {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    display: flex;
    row-gap: 10px;
  }

  .hero__details span {
    font-size: 12px;
    line-height: 1.33;
    margin-right: 10px;
    padding: 13px 20px;
    border: 1px solid var(--color-second, #ffffff);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 9px;
  }

  .hero__details span::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: var(--bg-base, #ffffff);
  }

  .hero__details span:first-child::before {
    mask: url("/__spritemap#sprite-moon-icon-view") center / 11px 11px no-repeat;
  }

  .hero__details span:nth-child(2)::before {
    mask: url("/__spritemap#sprite-level-icon-view") center / 10px 11px no-repeat;
  }

  .hero .hero__bullets {
    top: 815px;
    left: 1270px;
  }

  .hero__bullet {
    width: 20px;
    height: 20px;
  }
}
