:root {
    --font-base: "Montserrat", "Arial", sans-serif;
    --color-base: #2d383f;
    --color-second: #ffffff;
    --bg-base: #ffffff;
    --bg-second: #0266c1;
    --bg-button-dis: #999999;
    --bg-active: #1c3374;
  }